.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* imposto le media query per il mobile */
@media screen and (max-width: 420px) {

  /* imposto il 100% alle row, azzerando poi i margini */
  .row {
    width: 100%;
    margin: 0;
  }

/* imposto width 100% ai float */
  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
    float: left;
  }

  /* imposto un margin-top alle immagini del blocco lezioni ed ai tre contenitori dei blocchi steps e why */
  #lezioni .row img,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 30px;
  }

  /* imposto un'altezza a tutte le img */
  img {
    height: 140px;
  }

  /* imposto un'altezza diversa per le immagini del blocco why */
  #why .row img {
    height: 80px
  }

  /* imposto un padding-top agli h1 dei blocchi why e steps */
  #why .row h1,
  #steps .row h1 {
    padding-top: 20px
  }

  /* imposto un font-size 2em per gli h1 dei blocchi lezioni, steps e why */
  #lezioni .row h1,
  #steps .row h1,
  #why .row h1 {
    font-size: 2em
  }

  /* imposto un padding sx dx e bottom ai blocchi lezioni, steps e why */
  #lezioni, #steps, #why {
    padding: 0 30px 20px 30px
  }
}
/* /imposto le media query per il mobile */


/* imposto le media query per il tablet */
@media screen and (min-width: 421px) and (max-width: 768px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
  }

  /* reimposto la width ed il margin-top delle row */
  .row {
    width: 100%;
    margin-top: 0;
  }

  /* imposto un'altezza fissa alle img */
  img {
    height: 150px
  }

  /* imposto un padding agli h1 delle row */
  .row h1 {
    padding-top: 20px
  }

  /* imposto un padding dx sx e bottom ai div steps e why */
  #steps, #why {
    padding: 0 30px 20px 30px
  }

  /* imposto un padding-bottom ai div left e central del div steps */
  #steps .left,
  #steps .central {
    padding-bottom: 20px
  }

  /* imposto un'altezza diversa alle img del div why */
  #why img {
    height: 90px;
  }

  /* imposto una width al div right del div lezioni togliendo i px dei margin */
  #lezioni .row>.right {
    width: calc(50% - 10px);
  }

  /* imposto una width al div left del div lezioni togliendo i px dei margin */
  #lezioni .row>.left {
    width: calc(50% - 10px);
  }

  /* imposto un margin-left al div right del div lezioni */
  #lezioni .row>.right {
    margin-left: 10px
  }

  /* imposto un margin-right al div left del div lezioni */
  #lezioni .row>.left {
    margin-right: 10px
  }

  /* imposto una width diversa alla img del div right del div lezioni */
  #lezioni .right img {
    width: 150px
  }
}
/* /imposto le media query per il tablet */
